[project]
	description = asmttpd for Docker
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Florian Fida (piccaso)
[access "refs/for/refs/*"]
	read = group user/Florian Fida (piccaso)
	push = group user/Florian Fida (piccaso)
	label-Code-Review = -2..+2 group user/Florian Fida (piccaso)
	label-Verified = -1..+1 group user/Florian Fida (piccaso)
	rebase = group user/Florian Fida (piccaso)
	removeReviewer = group user/Florian Fida (piccaso)
	submit = group user/Florian Fida (piccaso)
[access "refs/heads/*"]
	read = group user/Florian Fida (piccaso)
	create = group user/Florian Fida (piccaso)
	push = +force group user/Florian Fida (piccaso)
	pushMerge = group user/Florian Fida (piccaso)
[access "refs/tags/*"]
	push = +force group user/Florian Fida (piccaso)
	pushTag = group user/Florian Fida (piccaso)
	pushSignedTag = group user/Florian Fida (piccaso)
